@font-face
{
    font-family: Roboto-Regular;
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}

html,
body,
button
{
    font-family: Roboto-Regular, Arial, sans-serif;
    text-align: center;
}

html,
body
{
    padding: 0;
    margin: 0;
    background-color: rgb(51, 47, 47);
}

#Container
{
    width: 75%;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    background-color: rgb(65, 60, 60);
    border-radius: 25px;
    color: white;
    margin-top: 15px;
}

h1,
p
{
    margin: 0px;
    margin-bottom: 15px;
}

p
{
    font-size: large;
}

a:visited
{
    color: white;
}

a:active
{
    color: white;
}

a:hover
{
    color: lightgray;
}

#LoginButton,
#SignupButton
{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    border-radius: 10px;
    border: none;
    color: white;
    width: 100%;
    max-width: 250px;
    margin: 10px;
}

@media (max-width: 660px)
{

    #LoginButton,
    #SignupButton
    {
        margin: 0px;
        margin-bottom: 15px;
    }
}

#LoginButton
{
    background-color: rgb(150, 202, 97);
}

#SignupButton
{
    background-color: rgb(255, 105, 105);
}

#LoginButton:hover
{
    box-shadow: 0px 0px 5px 5px rgba(150, 202, 97, 0.6);
}

#SignupButton:hover
{
    box-shadow: 0px 0px 5px 5px rgba(255, 105, 105, 0.6);
}